@charset "utf-8";

body{
	background-color:white;
	margin-left:10px;
}

#container{
	background-color: #DBD9D9;
	position: absolute;
	width: 1300px;
	height: 635px;
	left: 30px;
	top: 20px;
}

#searchbar{
	width:490px;
	padding:5px 10px 10px 10px;
	font-size:20px;
	line-height: 30px;
}

#domain{
	display:inline-block;
	background-color:white;
	width:60%;
	font-size:20px;
	height:30px;
	margin:5px 0px 0 0;
	border:1px solid #9B9999;
	overflow:hidden;
	text-overflow:ellipsis;
}

#dbtn{
	display:inline-block;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 13px solid #000;
	position: absolute;
	margin-left:-30px;
	margin-top:15px;
	z-index:9999;
}
#dbtn:hover{
	background-color:#CCC;
}

#searchbtn{
	margin-left:5px;
	height:32px;
	width:100px;
	display:inline-block;
	vertical-align:70%;
}


#domaincontent{
	position:absolute;
	background-color:white;
	border:1px solid #CCC;
	margin-left:73px;
	margin-top:-10px;
	z-index:9000;
}

#searchdomain{
	border:0px;
	border-bottom:1px solid #CCC;
	width:294px;
}

.domainname{
	width:294px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.domainname:hover{
 background-color:blue;
}



#side-list{
	position:relative;
	margin: -10px 0 20px 10px;
	width: 500px;
	height: 530px;
	
}

#side-list ul{
	padding: 0px 0px;
	margin-top:0px;
	margin:0 0 0 0;
	height:500px;
	overflow-y:scroll;
}

li{
    border:2px solid #DBD9D9;
    list-style:none;
	height:40px;
}

li  div {
    margin:0px;
    color:#FFF;
}

li .time{
    display:inline-block;
    background:rgb(179, 185, 179);
    width:75%;
	height:40px;
	font-size:25px;
	color:#000;
	border-radius:5px;
	text-align:center;
	line-height: 40px;
}

li .time:hover{
	background-color:gray;
}

li .remove{
    display:inline-block;
    background:#DBD9D9;
    width:25%;
	height: 40px;
	vertical-align:top;
}

li .remove button{
	margin:0px;
	position:relative;
	top: 10%;
	left: 5%;
	width:90%;
	height:80%;
}

#content{
	position:absolute;
	left:530px;
	top:20px;
	width:750px;
	height:595px;
	background-color:gray;
}

#imagebox{
	padding:10px 10px 10px 10px;
	height:430px;
}
#recordimage{
	width:730px;
	height:430px;
	
}

#msg{
	
}
